<section class="section">
  <div class="container articles-container">
    <p class="paragraph">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur laborum
      non adipisci porro fugit molestias maxime aperiam, aliquam odit nobis quae
      nihil ducimus culpa incidunt recusandae est, qui ad debitis?
    </p>
    <p class="paragraph">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur laborum
      non adipisci porro fugit molestias maxime aperiam, aliquam odit nobis quae
      nihil ducimus culpa incidunt recusandae est, qui ad debitis?
    </p>
  </div>
</section>
