<section class="faq section">
  <div class="container faq-container">
    <h1 class="title-primary faq-title">FAQ</h1>
    <ul class="faq-menu">
      <li class="faq-item">
        <p class="text-primary faq-text">
          The largest and oldest Quotations Page on the Web with about 30
          categories
        </p>
        <svg class="faq-icon" width="12" height="20">
          <use href="/img/icon.svg#icon-faq-arrow"></use>
        </svg>
      </li>
      <li class="faq-item">
        <p class="text-primary faq-text">
          A huge collection of inspirational quotes, thoughts of greatest minds
          in history
        </p>
        <svg class="faq-icon" width="12" height="20">
          <use href="/img/icon.svg#icon-faq-arrow"></use>
        </svg>
      </li>
      <li class="faq-item">
        <p class="text-primary faq-text">
          Quotations from the great works of literature
        </p>
        <svg class="faq-icon" width="12" height="20">
          <use href="/img/icon.svg#icon-faq-arrow"></use>
        </svg>
      </li>
      <li class="faq-item">
        <p class="text-primary faq-text">
          Read quotes and sayings from famous people in history
        </p>
        <svg class="faq-icon" width="12" height="20">
          <use href="/img/icon.svg#icon-faq-arrow"></use>
        </svg>
      </li>
      <li class="faq-item">
        <p class="text-primary faq-text">
          Collected quotes from Albert Einstein
        </p>
        <svg class="faq-icon" width="12" height="20">
          <use href="/img/icon.svg#icon-faq-arrow"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
