<div class="section footer">
  <div class="container footer-container">
    <div class="footer-logo-div">
      <a class="footer-logo" href="#">DubaiRealty</a>
        <p class="footer-title-text">Real Estate</p>
    </div>
    <div class="footer-category">
      <h3 class="category">Buy</h3>
      <ul>
        <li class="category-item"><a href="">Apartment in Dubai</a></li>
        <li class="category-item"><a href="">House in Dubai</a></li>
        <li class="category-item"><a href="">Apartments in Dubai</a></li>
        <li class="category-item"><a href="">Loft in Dubai</a></li>
        <li class="category-item"><a href="">Penthouse in Dubai</a></li>
        <li class="category-item"><a href="">Villa in Dubai</a></li>
      </ul>
    </div>
    <div class="footer-category">
      <h3 class="category">Services</h3>
      <ul>
        <li class="category-item"><a href="">Property management in Dubai, UAE</a></li>
        <li class="category-item"><a href="">Sell ​​property in Dubai, UAE</a></li>
        <li class="category-item"><a href="">Rent property in Dubai, UAE</a></li>
        <li class="category-item"><a href="">Investments in Dubai, UAE</a></li>
        <li class="category-item"><a href="">Real estate for cryptocurrency in Dubai</a></li>
        <li class="category-item"><a href="">Moving to Dubai, UAE</a></li>
      </ul>
    </div>
    <div class="footer-category">
      <h3 class="category">Information</h3>
      <ul>
        <li class="category-item"><a href="">Video</a></li>
        <li class="category-item"><a href="">Podcasts</a></li>
        <li class="category-item"><a href="">Laws</a></li>
        <li class="category-item"><a href="">Questions and answers</a></li>
        <li class="category-item"><a href="">Books</a></li>
        <li class="category-item"><a href="">Articles</a></li>
      </ul>
    </div>
    <div class="footer-category">
      <h3 class="category">About company</h3>
      <ul>
        <li class="category-item"><a href="">Jobs</a></li>
        <li class="category-item"><a href="">Story</a></li>
        <li class="category-item"><a href="">Licenses</a></li>
        <li class="category-item"><a href="">Why are we</a></li>
        <li class="category-item"><a href="">Real estate agency</a></li>
      </ul>
    </div>
    <div class="footer-cont-md">
      <div class="footer-contact">
        <h3 class="category">Contact</h3>
        <ul>
          <li class="category-contact"><a href="https://goo.gl/maps/nQYb61YiSzuoKebm8" target="_blank">964 Worthington Drive
            Dubai, UAE</a></li>
          <li class="footer-email"><a href="mailto:dubairealty@mail.com">dubairealty@mail.com</a></li>
        </ul>
      </div >
      <button class="footer-btn" type="submit">Book a consultation</button>
    </div>
    <div class="footer-social">
      <h4 class="footer-additional">Copyright © 2023 Dubai Realty</h4>
      <div class="footer-icon-social">
        
        <ul class="footer-icon">
          <li><a href="https://uk-ua.facebook.com/" aria-label="facebook.com" target="_blank">
            <svg class="footer-soc-icon" width="10" height="18">
              <use href="/img/icon.svg#icon-facebook"></use>
            </svg>
          </a></li>
          <li><a href="https://twitter.com/?lang=uk" aria-label="twitter.com" target="_blank"><svg class="footer-soc-icon" width="18" height="16">
            <use href="/img/icon.svg#icon-twitter"></use>
          </svg></a></li>
          <li><a href="https://www.youtube.com/" aria-label="www.youtube.com" target="_blank"><svg class="footer-soc-icon" width="20" height="14">
            <use href="/img/icon.svg#icon-youtube"></use>
          </svg></a></li>
          <li><a href="https://www.instagram.com/" aria-label="www.instagram.com" target="_blank"><svg class="footer-soc-icon" width="19" height="19">
            <use href="/img/icon.svg#icon-instagram"></use>
          </svg></a></li>
          <li><a href="https://www.linkedin.com/" aria-label="www.linkedin.com" target="_blank"><svg class="footer-soc-icon" width="17" height="17">
            <use href="/img/icon.svg#icon-linkedin"></use>
          </svg></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
