<div class="section footer">
  <div class="container">
    <a href="./index.html">
      <h2>DubaiRealty</h2>
      <p>Real Estate</p>
    </a>
    <div>
      <h3>Buy</h3>
      <ul>
        <li><a href="">Apartment in Dubai</a></li>
        <li><a href="">House in Dubai</a></li>
        <li><a href="">Apartments in Dubai</a></li>
        <li><a href="">Loft in Dubai</a></li>
        <li><a href="">Penthouse in Dubai</a></li>
        <li><a href="">Villa in Dubai</a></li>
      </ul>
    </div>
    <div>
      <h3>Services</h3>
      <ul>
        <li><a href="">Property management in Dubai, UAE</a></li>
        <li><a href="">Sell ​​property in Dubai, UAE</a></li>
        <li><a href="">Rent property in Dubai, UAE</a></li>
        <li><a href="">Investments in Dubai, UAE</a></li>
        <li><a href="">Real estate for cryptocurrency in Dubai</a></li>
        <li><a href="">Moving to Dubai, UAE</a></li>
      </ul>
    </div>
    <div>
      <h3>Information</h3>
      <ul>
        <li><a href="">Video</a></li>
        <li><a href="">Podcasts</a></li>
        <li><a href="">Laws</a></li>
        <li><a href="">Questions and answers</a></li>
        <li><a href="">Books</a></li>
        <li><a href="">Articles</a></li>
      </ul>
    </div>
    <div>
      <h3>About company</h3>
      <ul>
        <li><a href="">Jobs</a></li>
        <li><a href="">Story</a></li>
        <li><a href="">Licenses</a></li>
        <li><a href="">Why are we</a></li>
        <li><a href="">Real estate agency</a></li>
      </ul>
    </div>
    <div>
      <h3>Contact</h3>
      <ul>
        <li><a href="https://goo.gl/maps/nQYb61YiSzuoKebm8" target="_blank">964 Worthington Drive
          Dubai, UAE</a></li>
        <li><a href="mailto:dubairealty@mail.com">dubairealty@mail.com</a></li>
      </ul>
    </div>
    <button type="button">Book a consultation</button>
    <h4>Copyright © 2023 Dubai Realty</h4>
    <div>
      <ul>
        <li><a href="https://www.facebook.com/" aria-label="facebook.com" target="_blank">
          <svg width="20" height="20">
            <use href="/src/img/social.svg#icon-facebook"></use>

          </svg>
    
      
        </a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </div>
  </div>
</div>
