<div class="header">

  <nav class="nav container">
    <div class="header-nav">
      <div class="header-logo-wrap">
        <a class="header-logo" href="#">DubaiRealty</a>
        <p class="header-logo-item">Real Estate</p>
      </div>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="№" class="header-nav-link">Buy</a>
        </li>
        <li class="header-nav-item">
          <a href="./blog.html" class="header-nav-link">Blog</a>
        </li>
        <li class="header-nav-item">
          <a href="./services.html" class="header-nav-link">Services</a>
        </li>
        <li class="header-nav-item">
          <a href="./contact.html" class="header-nav-link">Contact</a>
        </li>
      </ul>
    </div>
    <div class="header-nav">
      <button class="header-btn" type="submit">Book a consultation</button>
      <div class="header-lang">
        <span class="header-lang-item">en</span>
        <span class="header-lang-item">ua</span>
      </div>
      <address>
        <a class="header-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
      </address>
    </div>
  </nav>
</div>
