.faq-container {}

.faq-title {
  font-size: $header-mb-one;
  line-height: calc(30 / 24);
}

.faq-menu {
  margin-top: 20px;
}

.faq-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-top: 1px solid $color-darker-grey;

  &:last-child {
    border-bottom: 1px solid $color-darker-grey;
  }
}

.faq-text {
  max-width: 95%;

  font-size: $content-text-small;
  line-height: calc(15 / 12);
}

.faq-icon {
  stroke: $color-accent;
}

