:root {
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/*
font-family: 'Lexend', sans-serif;
 font-family: 'Roboto', sans-serif;
 font-family: 'Work Sans', sans-serif;
*/

body {
  font-family: 'Work Sans', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $color-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

.section {
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 36px;
  width: 100%;

  @include sm {
    width: 360px;
    background-color: green;
  }
  @include md {
    width: 768px;
    padding: 0 38px;
    background-color: pink;
  }
  @include lg {
    width: 1920px;
    padding: 0 60px;
    background-color: blue;
  }
}
