:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Work sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.section {
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 36px;

  @include xs {
    widht: 100%;
    background-color: yellow;
  }
  @include sm {
    width: 320px;
    background-color: green;
  }
  @include md {
    width: 780px;
    padding: 0 40px;
    background-color: pink;
  }
  @include lg {
    width: 1920px;
    padding: 0 60px;
    background-color: blue;
  }
}
